.bg-light {
    background-color: #f8f9fa !important;
  }
  
.text-danger {
    color: #d9534f !important;
}

.search-icon{
    height: 20px;
}

 .events-card-container{
    font-family: "Crimson Text";
}


@media (max-width: 768px) {
    .event-header{
        flex-direction: column;
        gap:20px;
    }

    .container{
        margin-top: 20px;
    }
    
    
}
  