.alumni-section .alumni-header {
  margin-bottom: 32px;
}

.alumni-section .alumni-header h2 {
  color: #1E1E1E;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}

.alumni-section .alumni-header h5 {
  color: #1E1E1E;
  font-size: 20px;
}

.alumni-background {
  background-image: url(../../assets/images/alumnimage.jpg);
}

/* Alumni section styling */
.alumni-section {
  padding: 42px 128px;
  position: relative;
  font-family: "Crimson Text";
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  z-index: 1;
  height: 100%;
}

/* Container for the entire alumni card content */
.alumni-card-container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1296px;
  padding: 25px;
  border-radius: 15px;
}

/* Wrapper for the view switch buttons (grid and menu) */
.alumni-action-bar .switch-view-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.alumni-action-bar .flex-grow-1 {
  flex-grow: 1;
}

/* Switch view wrapper containing both icons */
.switch-view-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Switch view icons */
.switch-view-wrapper img {
  width: 25px;
  /* Adjust the size of the icon */
  height: 25px;
  cursor: pointer;
}

/* Adjust the padding for the wrapper to fit snugly */
.view-img {
  display: inline-flex;
  /* Only take the width of the content (icon) */
  align-items: center;
  justify-content: center;
  padding: 3px;
  /* Minimal padding */
  transition: background-color 0.3s ease;
  /* Smooth transition for hover/active */
  border-radius: 5px;
  /* Rounded corners */
}

/* Style for active view mode */
.view-img.active {
  background-color: #f0f0f0;
  /* Light gray background to indicate active state */
  border-radius: 5px;
}

/* Optional: Add a hover effect */
.view-img:hover {
  background-color: #dddddd;
  /* Slightly darker on hover */
}

@media (max-width: 1024px) {
  .alumni-section {
    padding: 42px 15px;
  }
}



/* Mobile View */
@media (max-width: 768px) {

  /* Center the view switch buttons */
  .alumni-action-bar .switch-view-wrapper {
    justify-content: center;
  }

  .alumni-section {
    padding: 42px 15px;
  }

  .alumni-section .alumni-container {
    flex-direction: column;
    align-items: center;
  }

  .alumni-section .alumni-card-container {
    width: 100%;
    padding: 0px 20px;
  }

  .alumni-section .alumni-header {
    padding: 0px 20px;
  }

  .alumni-section .alumni-header h2,
  .alumni-section .alumni-header h5 {
    text-align: center;
  }
}