.glass {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgb(255, 255, 255, 0.7);
}

.cinzel {
    font-family: 'Cinzel', serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.background {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    position: absolute; /* Ensure the banner is behind the content */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
    opacity: 0;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}