.profile-layout {
    position: relative;
    font-family: "Crimson Text", serif;
    line-height: normal;
}

.profile-layout-background {
    background-image: url('../../assets/images/pup-login-banner.jpg');
}

.profile-layout-content {
    padding: 42px 128px;
    gap: 30px;
}

.profile-layout-row {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100vh; /* Ensure full viewport height */
    height: 100%;
    position: relative;
    overflow-y: auto;
}

.profile-sidebar-container {
    position: sticky;
    top: 0;
    align-self: flex-start;

}

/* Smooth Scroll for Sidebar */
.profile-sidebar-container::-webkit-scrollbar {
    width: 8px;
}

.profile-sidebar-container::-webkit-scrollbar-thumb {
background-color: #b3b3b3;
border-radius: 10px;
}

.profile-sidebar-container {
scrollbar-width: thin;
scrollbar-color: #b3b3b3 transparent;
}


/* Media query laptop/smaller screens */
@media only screen and (max-width: 1024px) {
    .profile-layout-content {
        padding: 45px 45px;
        gap: 15px
    }
}

/* Media query for tablet devices */
@media only screen and (max-width: 768px) {
    .profile-layout-content {
        padding: 25px 25px;
        gap: 15px
    }

    .profile-layout-row {
        flex-wrap: wrap;
        gap: 45px;
    }
}

/* Media query for tablet devices */
@media only screen and (max-width: 425px) {
    .profile-layout-content {
        padding: 0px 0px;
        gap: 15px
    }
}