.events-page {
  font-family: "Crimson Text";
  z-index: 1;
  position: relative;
}

.events-page .events-background {
  background-image: url(../../assets/images/eventbanner.png);
}

.events-page .events-content {
  padding: 42px 128px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

.events-page .event-header {
  margin-bottom: 32px;
}

.events-page .event-header h2 {
  color: #1E1E1E;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #1E1E1E;
}

.events-page .event-header h5 {
  color: #1E1E1E;
  font-size: 20px;
}

.events-page .event-header h3 {
  font-size: 20px;
}

/* Default - Desktop */
.events-page .events-container {
  display: flex;
  justify-content: center;
}

/* Mobile View */
@media (max-width: 768px) {

  .events-page .events-content {
    padding: 42px 0px;
  }

  /* Stack the Filter and Event sections vertically */
  .events-page .events-container {
    flex-direction: column;
    /* Switch to column direction */
    align-items: center;
    /* Center-align the items */
    padding: 0px 0px;
  }

  /* Ensure both sections take full width */
  .events-page .events-container .event-auth {
    width: 100%;
    /* Full width for both sections */
  }

  .events-page .event-header {
    flex-direction: column;
    margin-bottom: 0;
    padding: 0 10px;
  }

  .events-page .event-header h2 {
    font-size: 20px;
  }

  .events-page .event-header h5 {
    font-size: 16px;
  }

  .events-page .event-header h2,
  .events-page .event-header h5 {
    text-align: center;
  }

  /* Filter section overlay for mobile */
  .filter-section-overlay {
    align-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    max-width: 320px;
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: left 0.3s ease-in-out;
    overflow-y: scroll;
  }

  /* Overlay background styling */
  .overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
}

@media (max-width: 1024px) {
  .events-page .events-content {
    padding: 42px 10px;
  }
}

@media (min-width: 1200px) {
  .events-page .event-header {
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
  }
}

/* Filter section overlay styling */
.filter-section-overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  max-width: 320px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: left 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.80);
}

/* Background overlay */
.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, 0.1);
  z-index: 1;
}