.comment-card {
  display: flex;
  background-color: white;
  border-radius: 15px;
  transition: ease-in 0.3s;
}

.comment-card p {
  margin: 0 !important;
}

/* ensure :hover effect applies to .comment-card and not its child elements (during recursive) */
.comment-card:not(.comment-card .comment-card):hover {
  transform: translateY(-0.2rem);
  box-shadow: 0rem 0.0625rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
}

/* Reply box */
.comment-card .comment-card {
  background-color: #f7f5f5 !important;
  border-radius: 5px;
}

.comment-card .alumni-profile-img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.comment-card .comment-author {
  color: #1E1E1E;
  font-family: 'Crimson Text', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  word-wrap: break-word;
}

.comment-card .comment-num {
  color: #6D6D6D;
  font-family: 'Raleway', sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  align-items: end;
}

.comment-card .reply-input {
  background-color: #f7f5f5;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: #d9d7d7;
}

.reply-line {
  width: 0.3rem;
  height: 100%;
  background-color: #d9d7d7;
  border-radius: 50rem;
  flex-grow: 1 !important;
}

.comment-card .btn {
  width: 4rem;
  height: 2.3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 500;
}

.comment-card .btn-reply {
  background-color: inherit;
  border: none;
  box-shadow: none;
  margin-bottom: 0.3rem;
}

.comment-card .btn-reply:hover {
  color: #1E1E1E;
  background-color: #f7f5f5;
  transition: ease-out 0.1s;
  box-shadow: 0rem 0.0625rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
  transform: translateY(-0.2rem);
  transform: translateY(0.1rem);
}

.btn-cancel {
  background-color: white;
  color: #6D6D6D;
  box-shadow: 0rem 0.0625rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
  min-width: fit-content;
}

.btn-cancel:hover {
  color: #1E1E1E;
  box-shadow: 0rem 0.0625rem 0.25rem 0rem rgba(0, 0, 0, 0.5);
  transition: ease-out 0.1s;
  transform: translateY(-0.2rem);
  transform: translateY(0.1rem);
}

.btn-submit-reply {
  background-color: #800000;
  color: #fff;
  box-shadow: 0rem 0.0625rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
  min-width: fit-content;
}

.btn-submit-reply:hover {
  background-color: #800000;
  color: #fff;
  box-shadow: 0rem 0.0625rem 0.25rem 0rem rgba(0, 0, 0, 0.5);
  transition: ease-out 0.1s;
  transform: translateY(-0.2rem);
  transform: translateY(0.1rem);
}

/* Toggle Replies Button */
.btn-toggle-replies {
  background-color: inherit;
  border: none;
  box-shadow: none;
  margin-top: 0.5rem;
  cursor: pointer;
  color: #800000;
  font-weight: 600;

}


.btn-toggle-replies:hover {
  color: #1E1E1E;
  background-color: #f7f5f5;
  transition: ease-out 0.1s;
  box-shadow: 0rem 0.0625rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
  transform: translateY(-0.2rem);
}

.reply-list {
  margin-top: 1rem;
  padding-left: 1rem;
  border-left: 4px solid #d9d7d7;
}
