/* Event History Section Styles */
.history-event-section {
    background-image: url(../../assets/images/eventbanner.png);
    padding: 50px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    font-family: "Crimson Text";
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    z-index: 2;
    height: 100%;
}

/* Blur effect for the section */
.history-event-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.79);
    backdrop-filter: blur(19.4px);
    z-index: 0.1;
}

/* Styles for the event header */
.history-event-section .event-header {
    z-index: 1000 ;
    padding: 20px 0;
}

.history-event-section .event-header h2 {
    color: #1E1E1E;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
}

.history-event-section .event-header h5 {
    color: #1E1E1E;
    font-size: 20px;
}

/* Container styles within the event section */
.history-event-section .container:nth-child(1){
    margin: 0 auto;
    padding-left: 0;
}

/* Events container */
.history-event-section .events-container {
    display: flex;
    justify-content: space-between;
}

.history-event-section .view-event-history{
    display: none;
}


/* Responsive Media Queries */
@media (max-width: 768px) {
    .history-event-section .events-container {
        flex-direction: column;
        align-items: center;
    }

    .history-event-section .event-header {
        z-index: 1000;
        flex-direction: column;
        text-align: center;
        margin-bottom: 0;
    }

    .history-event-section .event-header h2,
    .history-event-section .event-header h5 {
        text-align: center;
    }

    .history-event-section .events-container .event-auth {
        width: 100%; /* Full width for mobile */
    }
}

@media (max-width: 1000px) {
    .history-event-section .event-header {
        z-index: 1000;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 20px;
    }
}
