/* src/pages/Login/Signup.css */

/* Signup Page Styling */
.signup-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    position: relative
}

.sign-in-link {
    color: #a50000;
    font-weight: bold;
}

.sign-in-link:hover {
    text-decoration: underline;
    color: #870000;
}

.form-section {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #800000;
    background: rgba(255, 255, 255, 0.80);
    min-width: fit-content;
}

.form-section:nth-child(1) {
    width: 487px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #800000;
}

.important-txt {
    color: #800000;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
}


.name-fields {
    display: flex;
    gap: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    align-items: flex-start;
}


input.form-control, select.form-control {
    height: 45px;
    padding: 10px 15px;
    border-radius: 100px;
    font-size: 14px;
}

.input-group-text {
    border-radius: 100px 0 0 100px;
    border: 1px solid #ced4da;
    border-right: none;
}

/* input.form-control,
select.form-control {
    border: none;
    padding: 10px;
    flex-grow: 1;
}

input.form-control:focus,
select.form-control:focus {
    outline: none;
}

.input-group-text i {
    font-size: 15px;
    color: #333;
} */

.checkbox-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-section input[type="checkbox"] {
    margin: 0;
}

.checkbox-section label {
    font-size: 14px;
}

.checkbox-section a {
    color: #800000;
    text-decoration: underline;
}

.form-submit button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #800000;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;

}

.form-submit button:hover {
    background-color: #a00000;
}

.submit-box {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    text-align: center;
    gap: 10px;
}