.discussion-actionbar {
  line-height: normal;
  font-family: "Raleway";
}

.discussion-actionbar .discussion-selection,
.discussion-actionbar .btn {
  padding: 0.5rem 0.625rem !important;
  min-width: fit-content;
  border: none;
  border-radius: 100px;
  box-shadow: 0rem 0.0625rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.625rem);
  font-family: "Raleway";
  text-decoration: none;
  color: #1E1E1E;
  font-size: 0.875rem;
  font-style: normal;
}

.discussion-actionbar .discussion-search {
  flex-grow: 1;
}

.discussion-actionbar .btn-primary {
  border: 0.125rem solid #800000;
  background-color: #800000;
  color: white;
  transition: all 0.2s ease-in-out;
}

.discussion-actionbar .btn-primary:hover {
  border: 0.125rem solid #570505;
  background-color: #570505;
}

/* Default Layout: Dropdowns on the left, search and button on the right */
.action-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Dropdowns */
.discussion-selection-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Search bar and button */
.search-and-button-container {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Ensure search bar fills available space */
  gap: 10px;
}

/* Responsive Styles for <= 768px */
@media (max-width: 768px) {

  .action-bar-container {
    flex-wrap: wrap; /* Allow wrapping */
    gap: 15px; /* Add more spacing between rows */
  }

  /* Ensure Dropdowns stay together */
  .discussion-selection-container {
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
  }

  .discussion-selection-container .form-select {
    width: 100% !important;
  }

  .search-and-button-container button{
    width: 20%; /* Make the search bar full-width */
  }

  .discussion-search {
    flex-grow: 1; /* Make the search bar full-width */
    width: 100%;
  }

  .btn-primary {
    width: 100%; /* Make the Create button full-width */
  }
}
