/* Prefix styles with .survey- to prevent conflicts */
.survey-section {
  padding: 50px 0;
  height: calc(100vh - 70px);
}


.survey-header {
  margin-bottom: 32px;
}

.survey-header h2 {
  color: #1E1E1E;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}

.survey-header h5 {
  color: #1E1E1E;
  font-size: 20px;
}

.surveys-container {
  display: flex;
}

.surveys-container .container {
  position: relative;
  z-index: 2; /* Ensure the content is above any pseudo-elements */
}

.answered-section {
  margin-top: 50px;
}

.answered-section h2 {
  color: #6c757d; /* Darker color for differentiation */
}

.answered-section h5 {
  color: #6c757d; /* Darker color for differentiation */
}

.line-seperator {
  position: relative;
  z-index: 1; /* Ensure the line is below the content */
  width: 100%;
  height: 2px;
  background-color: #a50000; /* Light gray line */
  margin: 50px 0;
}

.loading-surveys {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 100vw;
}

@media screen and (max-width: 768px) {
  .survey-header h2 {
    font-size: 20px;
  }

  .survey-header h5 {
    font-size: 16px;
  }

  .answered-section h2 {
    font-size: 20px;
  }

  .answered-section h5 {
    font-size: 16px;
  }

  .line-seperator {
    margin: 20px 0;
  }
  
}