/* Prefix styles with .survey- to prevent conflicts */
.survey-section {
  background-color: #f8f9fa; /* Light gray background */
  padding: 50px 0;
}

.survey-header {
  margin-bottom: 32px;
}

.survey-header h2 {
  color: #1E1E1E;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}

.survey-header h5 {
  color: #1E1E1E;
  font-size: 20px;
}

.surveys-container {
  display: flex;
}

.surveys-container .container {
  position: relative;
  z-index: 2; /* Ensure the content is above any pseudo-elements */
}
