/* Page styling */
.login-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

.admin-login-background {
    background-image: url('../../assets/images/admin-login-banner.jpg');
}

.login-page .banner-section {
    background-image: url('../../assets/images/admin-login-banner.jpg');
    background-size: cover;
    background-position: center;
    height: 240px;
    padding: 40px 128px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;
    position:relative;
}

.admin-sign-in-glass-container {
    margin-top: 0px;
    padding: 40px 0;
}

.login-box {
    background-color: #ffffff;
    border: 2px solid #dc3545;
    border-radius: 10px;
}

.admin-welcome-text {
    font-size: 24px;
    font-weight: bold;
}

.admin-login-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.6;
}

.login-form .form-control {
    border-radius: 100px;
    font-size: 14px;
}

.login-form .input-group-text {
    border-radius: 100px 0 0 100px;
    border: 1px solid #ced4da;
    border-right: none;
}

.txt-danger {
    color: #870000;
}

.btn {
    font-weight: bold;
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
}

.btn-danger {
    background-color: #a50000;
}

.btn-danger:hover {
    background-color: #870000;
}

.admin-support-box {
    border-left: 1px solid #ccc;
    padding-left: 40px;
    text-align: center;
}

.admin-support-box h2 {
    font-size: 22px;
    font-weight: bold;
}

.admin-support-box p {
    font-size: 14px;
    margin: 15px 0;
}

.btn-outline-danger {
    border-color: #a50000;
    color: #a50000;
    font-weight: bold;
    padding: 10px 20px;
}

.btn-outline-danger:hover {
    background-color: #a50000;
    color: #fff;
}

.contact-support {
    font-size: 12px;
    margin-top: 20px;
}

.contact-support a {
    color: #a50000;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .login-page {
        background-image: none;
    }

    .banner-section {
        display: none;
    }

    .admin-sign-in-glass-container {
        margin-top: 0;
        padding: 0;
    }

    .login-box {
        border: none;
    }

    .admin-support-box {
        border-left: none;
        padding-left: 0;
    }
}
