/* src/components/SurveyCard/SurveyCard.css */

.survey-card {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .survey-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .survey-header h2 {
    margin: 0;
  }
  
  .survey-creation-date {
    color: #777;
    font-size: 0.9em;
  }
  
  .survey-description {
    margin: 10px 0;
    color: #555;
  }
  
  .survey-footer {
    display: flex;
    justify-content: space-between;
    color: #777;
    font-size: 0.9em;
  }
  
  .survey-dates {
    margin-right: 15px;
  }
  